:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.p-button:focus {
    box-shadow: none !important;
}

.p-inputtext:focus {
    box-shadow: none !important;
    border-color: var(--primary-color) !important;
}

