/* Container Principal */
.search-results-layout {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

/* Coluna da Direita: Lista de Resultados */
.search-results-content {
    flex: 1;
    width: 100%;
}

.results-card {
    background-color: var(--surface-card);
}


@media (min-width: 901px) {

    .filter-button {
    display: none;
}
    
}

/* Responsividade */
@media (max-width: 900px) {
    .search-results-layout {
        flex-direction: column;
    }

    /* Esconde a Sidebar Desktop quando em mobile */
    .desktop-filter-container {
        display: none;
    }
}