/* Wrapper externo */
.product-card-wrapper {
  cursor: pointer;
  height: 100%; 
  display: flex;
  padding-bottom: 0.3rem;
  transition: transform 0.2s ease-out;
}

.product-card-wrapper:hover {
  transform: translateY(-0.3rem);
}

/* O Card do PrimeReact */
.product-card-wrapper .p-card {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  box-shadow: 0 0.25rem 0.6rem rgba(0,0,0,0.1); 
  
  /* DINÂMICO: Borda e Fundo baseados no tema */
  border: 1px solid var(--surface-border);
  background-color: var(--surface-card);
  color: var(--text-color);
  border-radius: 16px;
}

/* --- 1. ÁREA DA IMAGEM (CABEÇALHO) --- */
.product-card-wrapper .p-card-header {
  flex: 1 1 auto; 
  min-height: 0;  
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--surface-card);
}

.product-card-image-container {
  width: 100%;
  height: 15rem; 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  background-color: white;
  margin: 0.5rem;
  border-radius: 16px;

}

.product-card-image {  
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 16px; 
}

/* --- 2. ÁREA DE TEXTO (CORPO) --- */
.product-card-wrapper .p-card-body {
  flex: 0 0 auto; 
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem; 
  z-index: 1; 
  background-color: var(--surface-card);
}

.product-card-wrapper .p-card-content {
  padding: 0;
  margin-bottom: 0.3rem;
}

/* Título do Produto */
.product-card-wrapper .p-card-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
  max-height: 2.4em; 
  overflow: hidden;
  color: var(--text-color); 
}

/* Preço */
.product-card-price {
  color: var(--primary-color); 
  font-weight: 700;
  font-size: 1.1rem; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --- 4. BOTÃO --- */
.btn-add-cart {
  width: 100%;
  height: 2.5rem;
  background-color: var(--surface-card) !important;
  border: 2px solid var(--primary-color) !important; 
  color: var(--primary-color) !important; 
  font-weight: 600 !important;
  transition: all 0.2s !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.btn-add-cart:hover {
  background-color: var(--primary-color) !important; 
  color: var(--primary-color-text) !important; 
  border-color: var(--primary-color) !important;
}

.product-card-wrapper .p-card-footer {
  padding: 0;
  margin-top: auto;
}