.empty-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    text-align: center;
}

.empty-icon {
    font-size: 4rem; /* Equivalente ao text-6xl */
    color: var(--text-color-secondary);
    margin-bottom: 1rem;
}

.empty-text {
    font-size: 1.25rem; /* Equivalente ao text-xl */
    color: var(--text-color);
    margin-bottom: 1rem;
}