.review-item-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid var(--surface-border);
    padding: 0.25rem;
}

.review-item-row {
    padding: 1rem 0;
    border-bottom: 1px solid var(--surface-border);
}

.review-item-row:last-child {
    border-bottom: none;
}