.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.field-wrapper {
    width: 100%;
}

.full-width-password {
    width: 100% !important;
}

.full-width-password .p-icon-field {
    width: 100%;
}

.full-width-password .p-inputtext {
    width: 100% !important;
}


.full-width-input {
    width: 100%;
}

.p-float-label {
    display: block;
    width: 100%;
}

.login-register-link {
    color: var(--primary-color) !important; 
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
}

.login-register-link:hover {
    text-decoration: underline;
}